@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  font-family: 'Abel', sans-serif;
}

a{
  text-decoration: none;
	color: inherit;
	display: inline-block;
}

.btns{
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px 20px;
  font-family: 'Abel', sans-serif;
  border-radius: 20px;
  margin-top: 5px;

}